
.weather-card {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 170px;
    transition: transform 0.2s ease;
}

.weather-card:hover {
    transform: translateY(-5px);
}
.weather-card {
    margin: 10px;
}

.weather-card p {
    text-align: left;
}

.weather-card img {
    width: 64px;
    height: 64px;
    display: block;
    margin: 10px auto;
}

.weather-card .day-name {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}
.weather-card .temp {
    font-size: 1.2rem;
    text-align: center;
    color: black;
}
.condition {
    align-items: center;
    justify-content: center;
font-weight: bold;
    display: flex;
    font-size: 1rem;
    color: #000000;
}

.weather-card ,
.weather-card .details {
    margin: 4px 0;
    font-size: 0.8rem;
    color: #5e5e5e;
}

.weather-card strong,
.weather-card .details strong {
    color: #626262;
}

.weather-card h3{
    font-size: 1rem;
    margin: 5px 0;
}